<header class="bg-primary text-light">
    <div class="container d-flex justify-content-between align-items-center">
        <a routerLink="/home" class="logo navbar-brand" style="font-size: 1.5rem;" id="logo">Food Corner</a>

        <nav class="navbar navbar-expand-lg navbar-light">
            <ul class="navbar-nav ms-auto"> 
                <li class="nav-item">
                    <a routerLink="/home" class="nav-link" style="color: rgb(252, 250, 248);" >Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/login" class="nav-link" style="color: rgb(252, 250, 248);">Logout</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/aboutus" class="nav-link" style="color: rgb(252, 250, 248);">About</a>
                </li>

                <!-- <li class="nav-item dropdown">
                    <a routerLink="/dashboard" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a routerLink="/profile" class="dropdown-item">Profile</a>
                        <a routerLink="/order" class="dropdown-item">Order</a>
                        <a routerLink="/login" class="dropdown-item">Logout</a>
                    </div>
                </li> -->

                <li class="nav-item">
                    <a routerLink="/cart-page" class="nav-link">
                        <i style="font-size: 20px; color: rgb(21, 244, 169);" class="fa fa-cart-plus"></i>
                        <span *ngIf="cartQuantity" class="badge bg-danger">{{cartQuantity}}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>