body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #638da0;
  color: #fff;
  text-align: center;
  padding: 3em 0;
}

.logo {
  max-width: 100%; 
  margin-bottom: 10px;
}

header h1 {
  margin: 1.3rem;
}

header p  {
  margin: 15px 0;
  font-size: 20px;

}

.about-section {
  background-color: #f0f8ff;
  padding: 40px 0;
}

.about-content {
  text-align: center;
}

.about-content h2 {
  color: #333;
}

.about-content p {
  color: #666;
  line-height: 1.6;
}

footer {
 
  background-color: #638da0;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

img{
  margin: 40px;
  border: solid #638da0 2px;
  border-radius:10px;
 
}
.last{
 
  margin-bottom: 100px;
}