<app-header></app-header>

<body>
  <header>
      <div class="container">
          <h1>Food Corner</h1>
          <p>You now have the power to move things!</p>
      </div>
  </header>

  <section class="about-section">
      <div class="container">
          <div class="about-content">
              <h2><u>About Us</u></h2>
              <img src="/assets/logo.jpeg" width="300px" height="300px" alt="logo">
              <p>Welcome to Food Corner, where passion meets flavor. We are more than just a food delivery app; we are your gateway to a world of culinary delights.</p>
              <p>At Food Corner, we curate the finest dishes from local food corners, renowned chefs, and hidden gems around the world. Our mission is to make every meal an experience to remember.</p>
              <p>Join us on this gastronomic adventure, where innovation and tradition come together to create a symphony of flavors delivered to your doorstep.</p>
              <p class="last">Experience the convenience of our user-friendly app, easy ordering process, and prompt delivery services. We are committed to bringing you the best culinary experiences, one meal at a time.</p>
          </div>
      </div>
  </section>

  <footer>
      <div class="container">
          <p>&copy; 2023 Food Corner. All rights reserved.</p>
      </div>
  </footer>
</body>