<app-header></app-header>
<app-search></app-search>

<div class="container">
    <h1 class="text-center">Enter Delivery Details</h1><pre></pre>
    <form id="addressForm"  #delivery="ngForm">
      <div class="mb-3">
        <label for="apartment" class="form-label">Apartment/Unit </label>
        <input type="text" name="unit" #unit="ngModel" class="form-control" id="apartment" placeholder="Enter your apartment or unit" required ngModel/>
      </div>

      <small class="danger" *ngIf="unit.invalid && unit.touched" >*required</small>
      
      <div class="mb-3">
        <label for="area" class="form-label">Area</label>
        <input type="text" class="form-control" id="area" placeholder="Enter your area" required>
      </div>
      <div class="mb-3">
        <label for="city" class="form-label">City</label>
        <input type="text" class="form-control" id="city" placeholder="Enter your city" required>
      </div>
      <div class="mb-3">
        <label for="zipcode" class="form-label">ZIP Code</label>
        <input type="text" class="form-control" id="zipcode" placeholder="Enter your ZIP code" required>
      </div>
      <div class="mb-3">
        <label for="contact" class="form-label">Contact Number</label>
        <input type="tel" class="form-control" id="contact" name="num" #num="ngModel" placeholder="Enter your contact number" required  ngModel/>
      </div>
      <small *ngIf="num.invalid && num.touched"></small>
      <button [disabled]="delivery.invalid" type="button" class="btn btn-primary" id="proceedToPay" (click)="proceedToPayment()">Proceed to Pay</button>
    </form>
  
    <div id="map"></div>
  </div>
