body {
    background-color: #f8f9fa;
}
  
.container {
    margin-top: 50px;
}
  
#addressForm {
    max-width: 400px;
    margin: 0 auto;
}
  
#map {
    height: 300px;
    width: 100%;
    margin-top: 15px;
}
  
#proceedToPay {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
}

small{
    color: red;
    
}